#promotions {
  margin: 20px auto;
  width: 80%;
  height: auto;
}

#promotions img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 16px;
}

#new-products {
  padding: 10px;
}