* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  width: 100%;
  background-color: rgb(187, 255, 187);
}

#header-left-side {
  padding: 0 172px;
  display: flex;
  gap: 24px;
}

.header-icon {
  height: 24px;
  width: auto;
}

.logo {
  flex: 1;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 202, 17);
}

#categories-btn {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 4px 8px;
  height: 32px;
  border: 2px solid rgb(17, 202, 17);
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
}

#search-bar {
  padding: 4px 8px;
  display: flex;
  flex: 1;
  gap: 8px;
  align-items: center;
  height: 32px;
  border: 2px solid rgb(17, 202, 17);
  border-radius: 8px;
  background-color: white;
}

#search-icon-btn {
  border: none;
  background-color: unset;
}

#search-icon:hover {
  cursor: pointer;
}

#search-bar-textbox {
  border: none;
  outline: none;
  font-size: 16px;
}

nav {
  padding: 0 172px;
  display: flex;
  gap: 16px;
}

main {
  flex-direction: column;
  margin: 108px 200px 0;
}

main h2 {
  margin: 20px 0;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.product-box {
  width: 220px;
}

.product-box > * {
  margin-left: 16px;
  margin-bottom: 20px;
  margin-right: 16px;
}

.product-box-img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 12px;
}

.product-box h5 {
  font-size: 13px;
  height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-box-price-add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-icon-btn {
  margin: unset;
  width: 24px;
  height: 24px;
  background-color: unset;
  border: unset;
}

.product-icon {
  margin: unset;
  width: 24px;
  height: 24px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(187, 255, 187);
}

#footer-about-us {
  width: 220px;
}

#footer-made-by {
  padding: 20px 0;
}

#footer-about-us, #footer-contact-us {
  padding: 20px 172px;
}

#footer-made-by h4, #footer-contact-us h4 {
  margin-bottom: 16px;
}